@import "../../design/scss-variables";
// form search
.form {
	height: 4rem;
	width: 100%;
	max-width: 40rem;
	position: relative;

	.input-group {
		height: 100%;
	}
	&_input {
		background: transparent;
		border: 1px solid #777;
		border-radius: 10rem;
		outline: 0;
		height: 100%;
		width: 100%;
		padding: 0 2rem;
		&:focus {
			border: 2px solid $light-blue;
			&::placeholder {
				opacity: 0;
			}
		}
	}
	&_label {
		position: absolute;
		text-transform: uppercase;
		color: #333;
		top: 50%;
		opacity: 0;
		transform: translateY(-50%);
		left: 2rem;
		transition: all 0.5s ease-in-out;
	}
	&_input:focus + label {
		color: $light-blue;
		top: -1rem;
		opacity: 1;
		transform: translateY(0) scale(0.8);
		word-spacing: 3rem;
		display: block;
		background-color: #fff;
		padding: 0 0.5rem;
	}
	&_button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 2rem;
		border: 0;
		background: transparent;
	}
	@media only screen and (max-width: 400px) {
		width: 100%;
		order: 3;
		max-width: 100%;
		margin-top: 2rem;
	}
}
