@import "../../design/scss-variables";
.section_videos {
	padding: 10rem 0;
	&--heading {
		margin-bottom: 6rem;
		.p {
			margin-top: 1rem;
		}
	}
	.videos-boxes {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;

		@media only screen and (max-width: 320px) {
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		}
		.box {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
			gap: 2rem;
			justify-items: center;
			align-items: center;
			&_img {
				img {
					display: block;
					width: 100%;
					height: 100%;
				}
			}
			&_info {
				h3 {
					color: $light-blue;
					font-family: "fr-dem";
					margin-bottom: 1rem;
				}
			}
			@media only screen and (max-width: 800px) {
				&_info {
					text-align: center;
					p {
						max-width: 94%;
					}
				}
			}
		}
	}
}
