@import "../../design/scss-variables";
// btn menu
.mobile_btn {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border: 2px solid transparent;
	transition: all 1s ease;
	display: none;
	z-index: 1000;
	span {
		width: 100%;
		height: 2px;
		background-color: $light-blue;
		display: block;
		position: relative;
		&::after,
		&::before {
			width: 50%;
			left: 0;
			height: 2px;
			content: "";
			position: absolute;
			background-color: $light-blue;
			transition: all 1s ease;
		}
		&::after {
			transform: translateY(1rem);
		}
		&::before {
			transform: translateY(-1rem);
		}
	}
	&:hover,
	&.active {
		transition: all 0.8s ease-in-out;
		border: 2px solid $white-color;
		span {
			background-color: transparent;
			&::after {
				transform: translateX(50%) translateY(0) rotate(135deg);
				margin: auto;
			}
			&::before {
				transform: translateX(50%) translateY(0) rotate(-135deg);
				margin: auto;
			}
		}
	}
	// resposive btn
	@media only screen and (max-width: 940px) {
		display: flex;
		margin-left: 2rem;
	}
}
