//colors
$white-color: #fff;
$light-grey: #e6e7e8;
$lighten-grey: #eeeeee;
$black-text: #000;
$light-blue: #00609c;
$purple-color: #c017a2;
$dark-blue: #091421;
// size
$layout-width: 96rem;
$heading-size: 2.8rem;
$sub-heading-size: 2rem;
$text-size: 1.8rem;
$p-size: 1.6rem;
